.cards {
    padding-top: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:not(.resolved) + .card.resolved {
    margin-top: 30px;
}

.card:not(.resolved) + .card.resolved::before {
    content: "";
    position: absolute;
    top: -30;
    width: 100%;
    display: block;
    padding: 20 0 10 0;
    background-image: url(../img/divider.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card {

    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 10px;

    width: -webkit-fill-available;
    margin-left: 15px;
    margin-right: 15px;

    background: var(--background-light);
}

.card:nth-last-child(2) {
    animation: margin-bottom-grow 0s ease 0s 1 normal forwards;
}

@keyframes margin-bottom-grow {
    to {
        margin-bottom: 70px;
    }
}

.card.expand {
    animation: expand .5s cubic-bezier(0, 0.5, 0, 1) 0s 1 normal forwards;
}

@keyframes expand {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 67px;
    }
}

.card.close-out {
    animation: close-out .5s cubic-bezier(0, 0.5, 0, 1) 0s 1 normal forwards;
}

@keyframes close-out {
    to {
        height: 0px;
    }
}

.card.fly-left {
    animation: fly-left .5s linear 0s 1 normal forwards;
}

@keyframes fly-left {
    from {
        left: 0%;
    }
    to {
        left: 100%;
        opacity: 0;
    }
}

textarea {
    appearance: none;
    border: none;
    resize: none;

    width: 100%;
    background: white;
    outline: none;
    padding: 11px;
}

.card .content {
    overflow: hidden;
    padding: 11px;
    background: white;
    border-radius: 5px 5px 0px 0px;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;

    flex-direction: column;

    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;

    width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-actions {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

button {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

button.card-action {
    text-transform: uppercase;
    margin: 5px;
    background: transparent;
    border: solid black 1px;
    border-radius: 5px;
    width: 100px;
    height: 20px;
}

.card.has-actions .open-details::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 5px;
    width: 5;
    height: 5;
    border-radius: 50%;
    border: solid black 1px;
    background-image: url(../img/lightning.svg);
    background-color: var(--background-dark);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
}

button.card-action:hover {
    background: var(--background-dark);
}

.bottom {
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 0px;

    margin: 5px 10px 5px 10px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    width: 90%;
    left: 0;
    justify-content: space-evenly;

    background-color: var(--background-light);
    border: 1px solid #dfe1e5;
    margin-left: calc(5% - 1px);
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);

}

.bottom button {
    background: var(--background-light);
    color: black;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50%;

    height: 35px;
    width: 35px;

    z-index: 2;
}

.bottom button.add-card {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.69531 3.89844H7.86719V5.26562H4.69531V8.85938H3.24219V5.26562H0.0703125V3.89844H3.24219V0.578125H4.69531V3.89844Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
}

.bottom button.clear-column {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.27055 3.71276L7.51341 5.95561L6.54666 6.92236L4.3038 4.6795L1.76264 7.22067L0.735125 6.19315L3.27629 3.65199L1.03344 1.40913L2.00018 0.442387L4.24304 2.68524L6.59085 0.337426L7.61837 1.36494L5.27055 3.71276Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
}

.bottom button:hover {
    background-color: var(--background-dark);
}

.card .resolved {
    position: absolute;
    height: 18px;
    width: 18px;
    background: #FFF59D;
    top: -10;
    left: 0px;
    transform: translateX(-50%);
    padding: 3px;
    border-style: solid;
    border-color: #BF360C;
    border-width: 1px;
    color: #BF360C;
    opacity: 50%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BF360C' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 70%;
}

.card:not(.resolved) .resolved {
    display: none;
}

.card .resolved:hover, .card.resolved .resolved {
    opacity: 100%;
}

.card:hover .resolved {
    display: block;
}