/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--background-color);
    margin: auto;
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    text-align: center;

    --animate-duration: 500ms;
}

.modal-content div {
    text-align: center;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h1, .modal h2, .modal h3 {
    margin: 10px 0px 2px 0px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.modal h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.modal input {
    border: .1px solid;
    border-color: var(--border-color);
    border-radius: 5px;
    text-align: center;
}

.modal textarea {
    border: .1px solid;
    border-color: var(--border-color);
    height: 150px;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
