body {
    margin: 0px;
    position: absolute;
    width: 100vw;
    min-width: 550px;
    overflow-y: hidden;

    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 100vh));
}

* {
    outline: none;
}

header {
    height: 43.33px;
    background: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.corner-tooltip {
    display: none;
    width: 70px;
    background-color: #272727e7 !important;
    color: rgb(226, 226, 226) !important;
    cursor: default !important;
    text-align: center;
    border-radius: 5px !important;
    padding: 5px !important;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    text-transform: none;
    font-family: helvetica, sans-serif;
    font-size: 12px;
}
div:hover .corner-tooltip {
    display: block;
}

header > svg {
    cursor: pointer;
    margin: 0;
    height: 100%;
}

svg.animate > path {
    fill: none;
    stroke: white;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 2.5s linear forwards;
}

svg.animate > path.secondary {
    stroke: red;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

footer {
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    background: black;
    z-index: 2;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

footer div {
    padding: 0 20 0 20;
}

.menu {
    background-color: #272727;
    color: rgb(226, 226, 226);
    position: absolute;
    width: 100%;
    left: 0;

    font-size: 12px;
    text-align: center;
}

.menu div {
    background-color: rgba(255, 255, 255, 0);
    font-family: helvetica, sans-serif;
    display: inline-block;
    padding: 5 10;
    text-transform: uppercase;
    cursor: pointer;
}

.menu div.switch {
    cursor: default;
    text-transform: unset
}

.menu div.switch::after {
    content: "";
    border-right: solid 1px rgb(226, 226, 226);
    position: relative;
    right: -58px;
}

.menu div:hover:not(.switch) {
    background-color: rgba(255, 255, 255, 0.5);
}

#load-data {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
}

#load-data > div {
    width: 100%;
    background: black;
    text-align: center;
}

#load-data > div label {
    position: relative;
    color: white;
    font-size: 30px;
    top: 9px;
}

#load-data > div input {
    border-radius: 5px;
    margin: 20 0 20 20;
    padding: 10px;
    height: 35px;
}

#load-data > div button {
    border-radius: 5px;
    padding: 10px;
    height: 35px;
    margin: 20 0 20 0;
    text-transform: uppercase;
    background-color: #FFF59D;
    position: relative;
    top: 3;
}

#app {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.fullscreen, .copy {
    opacity: 0.7;
    cursor: pointer;
    float: right;
    height: 15;
    width: 15;

    position: absolute;
    z-index: 1;
    top: 4px;
}

.fullscreen {
    right: 2px;
}

.copy {
    right: 23px;
}

.fullscreen:hover, .copy:hover {
    opacity: 1;
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;

    border: .1px solid #dfe1e5;
    border-radius: 5px;
    height: calc(100% - 110px);
    width: 50%;
    margin: 32 10 10 10;

}

#positive {
    --background-light: hsl(88, 52%, 94%);
    --background-dark: hsl(88, 52%, 64%);
}

#negative {
    --background-light: hsl(351, 100%, 96%);
    --background-dark: hsl(351, 100%, 86%);
}

.section-header {
    width: 100%;
    height: fit-content;
    margin: 0px;

    font-size: 22px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #dfe1e5;

    background: var(--background-light);

    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    text-transform: uppercase;

}