/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

.cards::-webkit-scrollbar {
    width: 0px;
}

:root::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  visibility: hidden;
}

*:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body {
    margin: 0px;
    min-width: 550px;
    overflow-y: hidden;
}

* {
    outline: none;
}

header {
    background: black;
    padding: 5px;
    height: auto;
    text-align: center;
    font-family: "permanent marker";
}

#load-data {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
}

#load-data > div {
    width: 100%;
    background: black;
    text-align: center;
}

#load-data > div label {
    position: relative;
    color: white;
    font-size: 30px;
    top: 9px;
}

#load-data > div input {
    border-radius: 5px;
    margin: 20 0 20 20;
    padding: 10px;
    height: 35px;
}

#load-data > div button {
    border-radius: 5px;
    padding: 10px;
    height: 35px;
    margin: 20 0 20 0;
    text-transform: uppercase;
    background-color: #FFF59D;
    position: relative;
    top: 3;
}

#app {
    display: flex;
    overflow: hidden;
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;

    border: .1px solid #dfe1e5;
    border-radius: 5px;
    height: calc(100vh - 72px);
    width: 50%;
    margin: 20px;

}

#positive {
    --background-light: hsl(88, 52%, 94%);
    --background-dark: hsl(88, 52%, 64%);
}

#negative {
    --background-light: hsl(351, 100%, 96%);
    --background-dark: hsl(351, 100%, 86%);
}

.section-header {
    width: 100%;
    height: fit-content;
    margin: 0px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #dfe1e5;

    background: var(--background-light);

    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    text-transform: uppercase;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;

    overflow-y: scroll;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card {

    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 10px;

    width: 90%;
    height: 90px;
    background: var(--background-light);
}

.card.expand {
    animation: expand .5s cubic-bezier(0, 0.5, 0, 1) 0s 1 normal forwards;
}

@keyframes expand {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 90px;
    }
}

.card:nth-last-child(2) {
    margin-bottom: 70px;
}

textarea {
    appearance: none;
    border: none;
    resize: none;

    width: 100%;
    background: white;
    outline: none;
    padding: 11px;
}

.card textarea {
    height: calc(100% - 30px);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-actions {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

button.card-action {
    text-transform: uppercase;
    margin: 5px;
    background: transparent;
    border: solid black 1px;
    border-radius: 5px;
    width: 100px;
}

button.card-action:hover {
    background: var(--background-dark);
}

.bottom {
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 0px;

    margin: 5px 10px 5px 10px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    width: 90%;
    left: 0;
    justify-content: space-evenly;

    background-color: var(--background-light);
    border: 1px solid #dfe1e5;
    margin-left: calc(5% - 1px);
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);

}

.bottom button {
    background: black;
    color: white;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50%;

    height: 40px;
    width: 40px;

    z-index: 2;
}

.bottom button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.resolved {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #FFF59D;
    top: -10;
    left: 0px;
    transform: translateX(-50%);
    padding: 3px;
    border-style: solid;
    border-color: #BF360C;
    border-width: 1px;
    color: #BF360C;
    opacity: 50%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BF360C' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 70%;
}

.resolved:not(.active) {
    display: none;
}

.resolved:hover, .resolved.active {
    opacity: 100%;
}

.card:hover .resolved {
    display: block;
}