/* The container <div> - needed to position the dropdown content */
#butRecents {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
#butRecents > div {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: #272727;
  color: rgb(226, 226, 226);

  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

/* Links inside the dropdown */
#butRecents > div > div {
    background-color: rgba(255, 255, 255, 0);
    font-family: helvetica, sans-serif;
    padding: 5px 10px;
    text-transform: none;
    cursor: pointer;
    display: block;
}

#butRecents > div > div:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Show the dropdown menu on hover */
#butRecents:hover div {
    display: block;
}

#clear-recents {
    display: none !important;
}

div ~ #clear-recents {
    display: block !important;
    background-color: red !important;
}