/* The container <div> - needed to position the dropdown content */
#butRecents {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
#butRecents > div {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  left: -50%;
  top: 100%;
  background-color: #272727;
  color: rgb(226, 226, 226);

  font-size: 12px;
  text-align: center;
}

/* Links inside the dropdown */
#butRecents > div > div {
    background-color: rgba(255, 255, 255, 0);
    font-family: helvetica, sans-serif;
    padding: 5 10;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}

#butRecents > div > div:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Show the dropdown menu on hover */
#butRecents:hover div {
    display: block;
}