/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

.cards::-webkit-scrollbar {
    width: 0px;
    display: none;
}

:root::-webkit-scrollbar {
    width: 0px;
    display: none;
}

body::-webkit-scrollbar {
    width: 0px;
    display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  visibility: hidden;
}

*:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}