.tooltip {
    position: relative;
} 
.tooltip .tooltiptext {
    display: none;
    width: 55px;
    background-color: #272727 !important;
    color: rgb(226, 226, 226) !important;
    cursor: default !important;
    text-align: center;
    border-radius: 5px !important;
    padding: 5px !important;
    position: absolute;
    z-index: 1;
    top: 30px;
    transform: translateX(-19px);
    text-transform: none;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #272727 transparent;
}
.tooltip:hover .tooltiptext {
    display: block;
}