.scrollbar {
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    right: 0;
}
.scrollbar > div {
    display: none;
    height: calc(100% - 9px) !important;
    box-sizing: border-box;
    border-radius: 20px;
    border: 4.5px solid transparent;
    margin: 5px 9px 5px 9px;
    background: var(--background-light) !important;
    width: 8px;
    border-left: 0;
    border-right: 0;
}
div:hover > .scrollbar > div {
    display: block;
}
.scrollbar > div:hover, .scrollbar.scrollbar-drag > div {
    background: var(--background-dark) !important;
    display: block !important;
}