body {
    margin: 0px;
}

#app {
    display: flex;
}

.container {
    position: relative;

    border: .1px solid #dfe1e5;
    border-radius: 5px;
    min-height: calc(100vh - 42px);
    width: 50%;
    margin: 20px;

}

#positive {
    --background-light: hsl(88, 52%, 94%);
    --background-dark: hsl(88, 52%, 84%);
}

#negative {
    --background-light: hsl(351, 100%, 96%);
    --background-dark: hsl(351, 100%, 86%);
}

h1 {
    width: 100%;
    height: fit-content;
    margin: 0px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background: var(--background-light);

    text-align: center;
    font-family: cursive;
    text-transform: uppercase;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 10px;

    width: 90%;
    height: 90px;
    background: var(--background-light);
}

.card:last-child {
    margin-bottom: 50px;
}

.card textarea {
    appearance: none;
    border: none;
    resize: none;

    width: 100%;
    background: white;
    height: calc(100% - 30px);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-actions {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

button.card-action {
    text-transform: uppercase;
    margin: 5px;
    background: transparent;
    border: solid black 1px;
    border-radius: 5px;
    width: 100px;
}

button.card-action:hover {
    background: var(--background-dark);
}

button.bottom {
    position: absolute;
    bottom: 10px;

    background: black;
    color: white;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50%;

    height: 40px;
    width: 40px;
}

button.bottom:nth-child(1) {
    left: 25%;
    transform: translateX(-50%);
}


button.bottom:nth-child(2) {
    right: 25%;
    transform: translateX(50%) rotate(45deg);
}

button.bottom:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}